<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Headline info</h4>
      <dl>
        <dt>Headline</dt>
        <dd><%= @headline %></dd>
      </dl>
    </div>
  </div>
