
      <h3>Headlines for the first 20 stories which include your search word:</h3>
<br>
<body>

  <% @headlines.each do |key, value|
  key.each do |k,v| %>
  <%=v %>
<br>
  <% end %>
    <% value.each do |k,v| %>
    <a href=<%=v %>>
      Link to article above</a>
    <br>
<br>
      <% end %>

    <% end %>


</body>
