<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Headlines</h4>
      <dl>
        <dt>Headline</dt>
        <dd><%= @headlines.pluck("results")[0].pluck("apiUrl", "title") %></dd>
      </dl>
    </div>
  </div>
